footer{
  grid-area: footer;
  background-color: black;
  color: white;

  .container{
    min-height: 100px;
    text-align: center;
    margin-top: 38px;
    line-height: 30px;

    @media #{$breakpoint450}{
      margin-top: 0px;
      justify-content: space-between;
      display: flex;
      flex-wrap: wrap;
    }

    // .footer-home-link{
    //   text-decoration: underline;
    // }
  }

  .item{
    font-size: 1.2em;
    align-self: center;
    a{
      color: white;
    }
    a:hover{
      text-decoration: underline;
    }
  }
}
