.main {
  grid-area: main;
  text-align: center;
}

.bkg-text{
  font-size: 30px;
  text-align: left;
  font-weight: bold;
  margin-bottom: 10px;
  margin-top: 20px;

  @media #{$breakpointTablet}{
    margin-top: 60px;
  }
}

.project:last-child:after{
  content: none;
}

.project{
  margin: 30px 0;


   &:after{
     content: '•••';
     font-size: 30px;
   }



   @media #{$breakpointTablet}{
     &:after{
       content: '';
     }
   }

  .project-image{
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 300px;
    position: relative;
    border-radius: 5px;

    @media #{$breakpointTablet}{
      width: 100%;
      height: 400px;
    }
  }

  .project-info{
    margin-bottom: 10px;

    .project-title{
      font-weight: bold;
      font-size: 1.7em;
      text-align: left;
      @media #{$breakpointTablet}{
        font-size: 4.5em;
      }
    }

    .project-description{
      font-size: 1.3em;
      text-align: left;
      @media #{$breakpointTablet}{
        font-size: 1.5em;
      }
    }
  }
}

/* Slideshow container */
.slideshow-container.container {
  position: relative;

  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: black;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }

  /* Position the "next button" to the right */
  .next {
    right: -20px;
    border-radius: 3px 0 0 3px;
  }

  .prev{
    left: -20px;
    border-radius: 0 3px 3px 0;
  }

  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
}


.dot-container{
  /* The dots/bullets/indicators */
  text-align: left;

  .dot {
    cursor: pointer;
    height: 7px;
    width: 20px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 10px;
    display: inline-block;
    transition: background-color 0.6s ease;
  }

  .dot-index{
    font-size: 1em;
    font-weight: bold;
  }

  .active, .dot:hover {
    background-color: black;
  }
}
